@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html ,body,#root{
  height: 100%;
}
body {
  height: 100%;
  background-color: #292626;
  color: #ececee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
@layer utilities {
  /* Apply global styles to all scrollbars */
  ::-webkit-scrollbar {
    width: 8px; /* Set width of the scrollbar */
    height: 8px; /* Set height of the scrollbar for horizontal scrolling */
  }

  ::-webkit-scrollbar-thumb {
    background-color: silver; /* Silver color for the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
  }

  ::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent scrollbar track */
  }

  /* Firefox scrollbar styles */
  * {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: silver transparent; /* Silver thumb, transparent track */
  }
}
